@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Nompumelelo Mncwango</a>.</p>
</div>





<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Description</h5>
              
                <p class="card-text">
                    • I’m an enthusiastic, dedicated and versatile young woman with good academic background
                    and a hard worker. I’m a highly motivated & a reliable candidate willing to learn more about the industry and expand my skills.
                    • Furthermore, my previous roles have strengthened my capabilities in collaboration, including a keen attention to detail and accuracy. And that has shaped me to deliver a consistently strong performance and accurate result.
                    • I am now seeking my next challenge, I’m a Software developer by profession I completed my diploma at Tshwane university of technology. Which puts me in a great position to adapt and excel within the field.
                </p>
                <a href="/Report/Report" class="btn btn-primary">View Solution</a>
            </div>
        </div>
    </div>
    <!-- Add more cards as needed -->
</div>


<style>
    /* site.css */
    .card {
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Example box shadow */
        transition: box-shadow 0.3s ease;
    }

        .card:hover {
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow on hover */
        }

    .card-title {
        font-size: 1.90rem;
        font-weight: bold;
        color: #333; /* Example text color */
    }

    .card-text {
        font-size: 1.20rem;
        color: #666; /* Example text color */
    }

    .card-body {
        padding: 20px;
    }

    .btn-primary {
        background-color: #007bff; /* Example button color */
        color: #fff; /* Example button text color */
    }
</style>
  



